* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.firstcontainer {
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.firstcontainer img {
    height: 34vw;
    width: 100%;
    overflow: visible;
}

.firstcontainer h1 {
    display: flex;
    position: absolute;
    top: 19vw;
    right: 43vw;
    font-size: 5vw;
    color: white;
    animation: opacity 3s;
    letter-spacing: 0.5vw;
}

.firstcontainer h2 {
    display: flex;
    position: absolute;
    top: 24vw;
    right: 19vw;
    font-size: 1.5vw;
    color: white;
    animation: opacity 5s;
    letter-spacing: 0.1vw;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50;
    }
    100% {
        opacity: 100;
    }
}

.IIPS {
    background-color: black;
}

.IIPS h1 {
    font-size: 8vw;
    font-family: cursive;
    letter-spacing: 2vw;
    display: flex;
    justify-content: center;
    animation: animate;
}

.IIPS h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 3s linear infinite;
}

.IIPS h1 span:nth-child(1) {
    animation-delay: 0.0s;
}

.IIPS h1 span:nth-child(2) {
    animation-delay: 0.25s;
}

.IIPS h1 span:nth-child(3) {
    animation-delay: 0.50s;
}

.IIPS h1 span:nth-child(4) {
    animation-delay: 0.75s;
}

@keyframes animate {
    0%,
    100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #e0bd1e, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff;
    }
    0%,
    10% {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}

.secContainer {
    /* border: 2px solid rgb(234, 0, 255); */
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 1vw; */
    background-color: black;
}

.CollageEvents {
    /* border: 2px solid rgb(0, 81, 255); */
    animation: opacity 1s;
    height: auto;
}

.Collagepitures {
    /* border: 2px solid rgb(21, 255, 0); */
    animation: opacity 2s;
    height: auto;
}

.clgBuddy {
    /* border: 2px solid rgb(241, 15, 121); */
    animation: opacity 3s;
    height: auto;
}

.aboutclg {
    /* border: 2px solid rgb(0, 238, 255); */
    animation: opacity 4s;
    height: auto;
}

.CollageEvents img {
    height: 13vw;
    width: 100%;
    overflow: visible;
    margin-top: 1vw;
    padding: 1vw;
    display: block;
    transition: 2s;
}

.Collagepitures img {
    height: 13vw;
    width: 100%;
    overflow: visible;
    margin-top: 2vw;
    padding: 1vw;
    display: block;
    transition: 2s;
}

.clgBuddy img {
    height: 13vw;
    width: 100%;
    overflow: visible;
    margin-top: 1vw;
    padding: 1vw;
    display: block;
    transition: 2s;
}

.aboutclg img {
    height: 13vw;
    width: 100%;
    overflow: visible;
    margin-top: 2vw;
    padding: 1vw;
    display: block;
    transition: 2s;
}

.CollageEvents:hover img {
    transform: scale3d(1.3);
    transform: scale(1.2);
}

.Collagepitures:hover img {
    transform: scale3d(1.3);
    transform: scale(1.2);
}

.clgBuddy:hover img {
    transform: scale3d(1.3);
    transform: scale(1.2);
}

.aboutclg:hover img {
    transform: scale3d(1.3);
    transform: scale(1.2);
}

.CollageEvents h2 {
    color: white;
    display: flex;
    position: absolute;
    top: 58vw;
    left: 6vw;
    font-size: 2vw;
    animation: opacity 3s;
}

.Collagepitures h2 {
    color: white;
    display: flex;
    position: absolute;
    top: 58vw;
    left: 28vw;
    font-size: 2vw;
    color: white;
    animation: opacity 3s;
}

.clgBuddy h2 {
    color: white;
    display: flex;
    position: absolute;
    top: 58vw;
    left: 52vw;
    font-size: 2vw;
    color: white;
    animation: opacity 3s;
}

.aboutclg h2 {
    color: white;
    display: flex;
    position: absolute;
    top: 58vw;
    right: 12vw;
    font-size: 2vw;
    color: white;
    animation: opacity 3s;
}